<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add image</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data" (submit)="create()">
    <div>
      <label>Images: </label>
      <input id="filesUpload" (change)="onFileChange($event)" required type="file" name="images" accept="image/png, image/jpeg" multiple />
    </div>
    <div>
      <label>Title: </label>
      <input required type="text" name="title" [(ngModel)]="post.title" />
    </div>
    <div>
      <label>Text: </label>
      <input required type="text" name="text" [(ngModel)]="post.text" />
    </div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
